/* INICIO GENERAL PAGINA */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    list-style: none;
    text-decoration: none;
    user-select: none;
}

body {
    background-color: white;
}

img {
    max-width: 100%;
}
/* FIN GENERAL PAGINA */

/* Header Footer */
header {
    width: 100%;
    overflow: hidden;
    background-color: rgba(24, 98, 208, 0.9);
    opacity: 0.9;
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.5);
}

.color{
   color: white; 
}

.conte1 {
    float: left;
    margin: 20px 10px 20px 25px;
}

.logo1 {
    height: 95px;
    width: 125px;
}

.conte2 {
    width: 700px;
    float: left;
    margin: 88px 0px 0px 70px;
    ul {
        list-style: none;
        margin: 0;
        li {
            display: inline;
            padding-left: 15px;
            padding-right: 15px;
            a {
                font-weight: 900;
                font-size: 23px;
                &:hover {
                    color: black;
                    transition-duration: 0.3s;
                }
            }
        }
    }
}

.conte3 {
    float: right;
    margin: 85px 70px 0px 0px;
}

.enlace {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.btn{
    background-color: rgba(20, 88, 189, 1);
    padding: 10px 15px;
    border-radius: 20px;
}

.btn2 {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
    border-radius: 20px;
}


.btn {
    font-weight: 500;
    &:hover {
        background-color: rgba(255, 255, 255, 0.9);
        color: black;
        transition-duration: 0.3s;
    }
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 1em;
    overflow: hidden;
    background-color: rgba(24, 98, 208, 0.9);
    opacity: 0.9;
    user-select: none;
}

/*.logot2 {
    font-size: 20px;
}*/

.logofooter {
    padding: 0px 10px 10px 20px;
    .logo2 {
        width: 70px;
        height: 55px;
    }
}

.conteicons {
    margin: 10px 20px 20px 20px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    .icons {
        width: 30px;
        height: 30px;
        text-align: right;
    }  
}
/*Fin Header Footer */

/* comienzo página Inicio */
div.conte4{
    width: 100%;
    height: 600px;
    background-image: url("../image/Index/3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    box-shadow: 0 1px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
        color: white;
        font-size: 60px;
        font-weight: 100;
        margin-bottom: 60px;
        user-select: none;
    }
    h2 {
        color: white;
        font-size: 45px;
        font-weight: 100;
        margin-bottom: 50px;
        user-select: none;
    }
}

div.busqueda {
    form {
        width: 675px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        justify-content: space-evenly;
        div {
            width: 200px;
            height: 55px;
            display: flex;
            justify-content: center;
            align-content: center;
            .searchbtn {
                width: 135px;
                height: 55px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
                background-color: rgba(24, 98, 208, 0.8);
                text-decoration: none;
                color: white;
                font-size: 20px;
                &:hover {
                    transition-duration: 0.3s;
                    color: black;
                    background-color: white;
                }
            }
        }
        input {
            width: 500px;
            height: 55px; 
            border-radius: 20px;
            background-color: rgba(24, 98, 208, 0.6);
            border: 0 solid white;
            font-size: 25px;
            padding-left: 15px;
            &::placeholder {
                color: rgba(255, 255, 255, 0.7);
            }
        }
    }
}

div.conte5 {
    width: 100%;
    height: 450px;
    background-color: rgba(24, 98, 208, 0.8);
    opacity: 0.8;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        margin-bottom: 40px;
        margin-top: 20px;
    } 
    div {
        width: 650px;
        height: 300px;
        position: relative; 
        div.conte5_a {
            position: absolute;
            top: 90%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;
            .searchbtn {
                width: 100px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
                background-color: rgba(24, 98, 208, 0.8);
                text-decoration: none;
                color: white;
                font-size: 20px;
                &:hover {
                    color: black;
                    background-color: white;
                    transition-duration: 0.3s;
                }
            }
        }
        div.h3 {
            position: absolute;
            top: 78%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;
            h3 {
                color: white;
                user-select: none;
            }
        }
    }
}

.img {
    width: 650px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 2px 5px black;
}
/* fin página Inicio */

/* comienzo página Hoteles */
.contehotel {
    background-color: rgba(24, 98, 208, 0.7);
    width: 100%;
    height: auto;
    padding: 50px 300px 50px 300px;
    ul.lista {
        padding: 20px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-evenly;
        li {
            list-style-type: none;
            margin-left: 12px;
            margin-right: 12px;
            margin-bottom: 35px;
            div {
                padding-top: 16px;
                width: 270px;
                height: 350px;
                background-color:rgba(20, 88, 189, 1);
                text-align: center;
                border-radius: 20px;
                box-shadow: -1px 6px 20px black;
                h1 {
                    margin-bottom: 15px;
                }
                img {
                    width: 220px;
                    height: 175px;
                    border-radius: 20px;
                    margin-bottom: 25px;
                    box-shadow: 0px 1px 5px black;  
                }
                &:hover {
                    background-color:rgba(20, 88, 189, 0.9);
                    transition-duration: 0.1s;
                    transform: scale(1.06,1.06);
                }  
                .btn2 {
                    &:hover{
                        background-color: rgba(255, 255, 255, 0.9);
                        color: black;
                        transition-duration: 0.3s;
                    }
                } 
            }
        }        
    }
}

#texto {
    font-size: 30px;
    text-align: center;
    padding-bottom: 70px;
    padding-top: 50px;
}
/* fin página Hoteles */

/* comienzo página Vuelos */
.contevuelos {
    background-color: rgba(24, 98, 208, 0.7);
    width: 100%;
    height: auto;
    padding: 70px 0px 0px 0px;
    h1 {
        color:  white;
        font-size: 40px;
        text-align: center;
        margin-top: 0px;
        padding: 0 0 20px 0;
    }
    .exc {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 30px auto 50px;
        background-color: rgba(20, 88, 189, 1);
        width: 80%;
        height: 500px;
        border-radius: 20px;
        border: 2px solid white;
        box-shadow: 0 1px 15px black;
        div {
            width: 45%;
            img {
                width: 100%;
                height: 496px;
                border-radius: 20px 0 0 20px;
            }
        }
        div {
            width: 55%;
            height: 496px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p {
                text-align: center;
                font-size: 20px;
                color: white;
                width: 70%;
                padding-bottom: 100px;
            }
            a {
                background-color: rgba(0, 0, 0, 0.5);
                padding: 10px 15px;
                border-radius: 20px;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.9);
                    color: black;
                    transition-duration: 0.3s;
                }
            }
            h1 {
                text-align: center;
                font-size: 35px;
                color: white;
                width: 700px;
                padding-bottom: 50px;
            }
        }
    }
    div.conteinf {
        background-color:rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 700px;
        border-radius: 20px 20px 0px 0px;
        margin: 100px 0px 0px 0px;
        border-top: 1px solid rgba(255, 255, 255, 0.7);
        h1 {
            color:  white;
            font-size: 40px;
            text-align: center;
            margin-top: 0px;
            padding: 35px 0 20px 0;
        }
        div.lista2 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            div {
                padding-top: 0;
                width: 350px;
                height: 450px;
                background-color:rgba(20, 88, 189, 1);
                border-radius: 20px;
                margin: 0 40px;
                box-shadow: 0 1px 7px black;
                text-align: center;
                img {
                    width: 350px;
                    height: 250px;
                    border-radius: 20px 20px 0 0;
                    margin-bottom: 25px; 
                }
                h1 {
                    font-size: 25px;
                    padding-bottom: 50px;
                }                    
                &:hover {
                    background-color:rgba(20, 88, 189, 0.9);
                    transition-duration: 0.1s;
                    transform: scale(1.06,1.06);
                }
                a {
                    &:hover {
                        background-color: rgba(255, 255, 255, 0.9);
                        color: black;
                        transition-duration: 0.3s;
                    }
                }
            }
            }
        }
    }

/* fin página Vuelos */

/* comienzo página Excursiones */
div.contexcursiones {
    background-color: rgba(24, 98, 208, 0.7);
    width: 100%;
    height: auto;
    padding: 30px 0 0 0;
    div.video {
        width: 70%;
        height: 60%;
        margin: 30px auto 0;
        display: flex;
        justify-content: center;
        align-content: center;
        border: 1px solid white;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 1px 10px black;
        video {
            width: 95%;
            height: 100%;
        }
    }
    h1 {
        text-align: center;
    }
    div {
        h2 {
            padding: 175px;
            text-align: center;
        }
    }
    div.conteinf {
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 2100px;
        margin-top: 150px;
        padding: 100px 0;
        h1 {
            text-align: center;
            margin: 0;
        }
        div.conteinf-div__1 {
            background-color: rgba(255, 255, 255, 0.5);
            width: 90%;
            height: 500px;
            margin: 100px auto 0;
            border-radius: 20px;
            border: 1px solid white;
            box-shadow: 0 5px 10px black;
            display: flex;
            flex-direction: row;
            img {
                height: 496px;
                width: 700px;
                border-radius: 20px 0 0 20px;
            }            
            div.conteinf-div__2 {
                width: 60%;
                height: 100%;
                float: right;
                padding: 50px 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                p {
                    color: white;
                    font-size: 35px;
                    text-align: center;
                }
            }
        }
    } 
}

/* fin página Excursiones */

/* comienzo página Contacto */
div.imgcont {
    background-image: url("../image/Contacto/1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 757px;
    box-shadow: 0 1px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
    div.imgcont_div {
        width: 1000px;
        height: 300px;
        border: 1px solid rgba(255, 255, 255, 0.7);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1 {
            font-size: 35px;
            text-align: center;
        }
        h2 {
            font-size: 30px;
            width: 1000px;
            text-align: center;
        }
    }
}

div.before-contacto {
    background-color: rgba(24, 98, 208, 0.6);
    width: auto;
    height: auto;
    padding: 20px;
    div.contacto {
        background-color: rgba(24, 98, 208, 0.6);
        width: 1000px;
        height: auto;
        margin: 0px auto 0px;
        border-radius: 20px;
        border: 1px solid white;
        box-shadow: 0 1px 5px black;
        form {
            fieldset {
                width: 1000px;
                height: auto;
                border-radius: 20px;
                border: 0px;
                .input {
                    margin-top: 35px;
                    margin-left: 95px;
                    font-size: 30px;    
                    width: 800px;
                    height: 50px;
                    border-radius: 20px;
                    background-color: rgba(24, 98, 208, 0.5);
                    border: 1px solid white;
                    padding-left: 15px;
                    &::placeholder {
                        color: rgba(255, 255, 255, 0.7);
                    }
                }
                div {
                    width: 400px;
                    height: 35px;
                    margin-top: 20px;
                    margin-left: 95px;
                    display: flex;
                    align-items: center;
                    label {
                        font-size: 17px;
                        color: white;
                        padding: 0px 0px 0px 10px;
                    }
                }
                .checkbox {
                    appearance: none;
                    width: 25px;
                    height: 25px;
                    font-size: 10px;
                    background-color: rgba(255, 255, 255, 0.5);
                    border-radius: 5px;
                    &:checked {
                        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
                        background-color: rgba(0, 0, 0, 0.7);
                    }
                }
                textarea {
                    resize: vertical;
                    width: 800px;
                    height: 140px;
                    margin: 25px 0 0 95px;
                    font-size: 30px;    
                    border-radius: 20px;
                    background-color: rgba(24, 98, 208, 0.5);
                    border: 1px solid white;
                    padding-left: 15px;
                    padding-top: 10px;
                    &::placeholder {
                        color: rgba(255, 255, 255, 0.7);
                    }
                }
                div.diva {
                    width: 100px;
                    height: 50px;
                    margin-bottom: 20px;
                    a {
                        border: 1px solid rgba(255, 255, 255, 0.8);
                    }
                }
            }
        }
    }
}
/* fin página Contacto */

/*Responsive*/
@media screen and (max-width:1100px) { 
    section {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    /* INICIO PAGINA INDEX */
    div.conte5 {
        display: flex;
        justify-content: center;
        justify-content: flex-start;
        div {
            width: 70%;
            height: 50%;
            img {
                width: 575px;
                height: 225px;
            }
            div.h3 {
                padding-bottom: 30px;
            }
            div {
                a {
                    margin-bottom: 5px;
                }
            }
        }
    }

    div.conte4 {
        width: 100%;
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: flex-end;
        h1 {
            font-size: 40px;
        }
        h2 {
            font-size: 30px;
            padding-bottom: 30px;
        }
        div.busqueda {
            margin-bottom: 20px;
            form  {
                width: auto;
                display: flex;
                flex-direction: column; 
                align-items: center;
                input {
                    width: 99%;
                }
                div > .searchbtn {
                    margin-top: 5px;
                }
            }
        }
    
    }
    /* FIN PAGINA INDEX */

    /* INICIO PAGINA HOSPEDAJE */
    div.contehotel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        h1 {
            margin-top: 120px;
        }
        ul.lista {
            display: flex;
            flex-direction: column;
            padding: 0;
            div.hotel {
                width: 99%;
                height: 350px;
                h1 {
                    margin-top: 20px;
                }
                img {
                    margin: 0 25px;
                }
            }
        }
    }

/* FIN PAGINA HOSPEDAJE */

/* INICIO PAGINA VUELOS */
    div.contevuelos {
        h1 {
            margin-top: 65px;
            font-size: 30px;
        }
        div.exc {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            height: auto;
            .exc__img {
                width: 100%;
                height: 25%;
                img {
                    border-radius: 20px 20px 0px 0px;
                    width: 100%;
                    height: auto;
                }
            }
            h1, h2{
                margin: 0;
                padding: 0;
            }
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                height: 40%;
                h1, p {
                    font-size: 18px;
                    padding: 0;
                    margin-top: 12px;
                    width: 95%;
                }
                p {
                    margin-right: 0;
                }
                .btn2 {
                    margin-top: 12px;
                    margin-bottom: 12px;
                }
            }
        }
        div.conteinf {
            height: auto;
            div.lista2 {
                display: flex;
                flex-direction: column;
                align-items: center;
                div {
                    margin-top: 30px;
                    margin-bottom: 20px;
                    width: 60%;
                    height: 350px;
                    background-color:rgba(20, 88, 189, 1);
                    text-align: center;
                    border-radius: 20px;
                    box-shadow: 0 1px 7px black;
                    img {
                        width: 100%;
                        height: 60%;
                        border-radius: 20px 20px 0 0;
                    }
                    h1 {
                        font-size: 20px;
                        margin-bottom: 20px;
                        padding-bottom: 15px;
                        padding-top: 10px;
                    }
                    a {
                        margin-top: 0;
                        font-size: 15px;
                    }
                }
            }

        }
    }
/* FIN PAGINA VUELOS */

/* COMIENZO PAGINA EXCURSIONES */
    main {
        div.contexcursiones {
            div.video {
                width: 70%;
                height: 300px;
                margin-top: 60px;
            }
            div.conteinf {
                padding-bottom: 0;
                h1 {
                    font-size: 25px;    
                }
                div.conteinf-div__1 {
                    display: flex;
                    flex-direction: column;
                    div {
                        width: 100%;
                        height: 300px;
                        img {
                            width: 100%;
                            height: 300px;
                            border-radius: 20px 20px 0 0;
                        }
                    }
                    div.conteinf-div__2 {
                        padding: 0;
                        margin-top: 15px;
                        width: 100%;
                        p {
                            font-size: 20px;
                        }
                    }
                }

            }
        }
    }
/* FIN PAGINA EXCURSIONES */

/* COMIENZO PAGINA CONTACTO */
    div.imgcont {
        width: 100%;
        height: 500px;
        background-size: cover;
        div.imgcont_div{
            width: 80%;
            margin-top: 60px;
            h1, h2 {
                width: auto;
            }
            h2 {
                font-size: 20px;
            }
        }
    }
    div.before-contacto {
        div.contacto {
            width: auto;
            form {
                fieldset {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .input {
                        margin-top: 15px !important;
                    }
                    .input, div, textarea {
                        margin: 0 0 15px 0;
                        width: 85%;
                        &::placeholder {
                            font-size: 20px;
                        }
                    }
                }
            }

        }
        
    }
/* FIN PAGINA CONTACTO */
}
/* NAV BAR - HEADER */
@media (min-width: 1201px) {
    nav {
        display: none;
    }
}

@media (max-width:1200px) {
    .conte1, .conte2, .conte3, .toggle-menu__checkbox {
        display: none;
    }

    header {
        background-color: rgb(66, 124, 212);
        opacity: 1 !important;
        box-shadow: 0 1px 5px black;
        width: 100%;
        height: 100px;
        position: fixed;
        z-index: 2;
        .main-menu {
            width: 100%;
            height: 100%;
            .toggle-menu {
                .toggle-menu__a {
                    position: absolute;
                    padding: 15px 30px;
                    .toggle-menu__img {
                        height: 70px;
                        width: 100px;
                    }
                }
                .toggle-menu__label { 
                    float: right;
                    margin: 35px 40px 0px 0px;
                    cursor: pointer;
                    .bars {
                        width: 35px;
                    }
                }    
                .main-menu__ul {
                    background-color: rgb(66, 124, 212);
                    border-bottom: 1px solid white;
                    width: 100%;
                    height: 500px;
                    position: fixed;
                    top: 95px;
                    transform-origin: top;
                    transform: scaleY(0);
                    transition: all .5s; 
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    .main-menu__item {
                        padding: 25px 0px;
                        width: 240px;
                        .main-menu__link {
                            color: white;
                            font-size: 20px;
                            padding: 20px 0px;
                            text-transform: uppercase;
                            &:hover {
                                color: black;
                        }
                        &:hover {
                            border-bottom: 2px solid black;
                        }
                    }
                }
            }
        } 
    }

    #margin {
        margin-top: 50px;
    }

    #toggle-menu-checkbox:checked ~ .main-menu__ul {
        transform: scaleX(1);
    }
}
}

/* FIN NAV BAR - HEADER */